.increaseSpeed {
  color: rgb(149, 149, 149);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

.increaseSpeed:hover {
  color: #4a4a4a;
}

.increaseSpeed:focus {
  color: #d31c1c;
}

.oneTime {
  color: rgb(149, 149, 149);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
}