.x1, .x2 {
  color: rgb(149, 149, 149);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  position: relative;
  padding: 8px;
  border: none;
}

.x1:hover, .x2:hover {
  color: #00af9c;
}

 .x1:focus, .x2:focus {
  color: #007367;
}

